---
title: Formula Cheat Sheet
layout: boxes
---

<script lang="ts">
  import Result from "$lib/Result.svelte"
</script>

Below is a list of formulas for you convenience to use.

# Geometry

<Result left="" right="">
<div slot="input">

## Perimeter

Perimeter of a rectangle

```ts
let l = ...
let w = ...
let P = (2*l)+(2*w);
```

</div>
<div slot="result">

$$
\begin{equation*}
\tiny P = 2l+2w
\end{equation*}
$$

</div>
</Result>